@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
// COLORS
$accent: #FF6600;
$black: black;
$primary: #3C3939;
$gray: #999999;
$light-gray: #F6F6F6;
$white: white;
$blue: #4DA9FF;
$dark-blue: #03588C;
$light-blue: #F1F8FF;
$yellow: #FFD600;
$transparent: transparent;
$danger: #EB1919;
// *******************************************
html {
    overflow-x: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    color: $primary;
    overflow-x: hidden;
}

header,
footer {
    z-index: 20;
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    background-color: $white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

header {
    top: 0;
    max-height: 51px;
}

footer {
    bottom: 0;
    max-height: 58px;
    svg {
        width: 24px;
        height: 24px;
        path {
            stroke: #808080;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
        }
        &.active {
            path {
                stroke: $accent;
            }
        }
    }
    .rounded-circle {
        width: 10px;
        height: 10px;
    }
}

main {
    margin: 50px 0 58px 0;
}

.z-index-10 {
    z-index: 10;
}

.dropdown-menu {
    input:checked+label {
        color: $accent;
    }
}

.card {
    height: 100%;
    border: none;
    &-title {
        max-height: 40px;
        overflow: hidden;
        line-height: 20px;
        display: -webkit-box;
        -webkit-line-clamp: 2; // количество строк
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

.rated {
    line-height: 1em;
}

.add_rate {
    input {
        width: 0;
        height: 0;
        opacity: 0;
    }
    input:checked~label {
        background-image: url('../images/icons/star-fill.svg');
    }
    label {
        margin-right: 8px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #FFF9DC;
        background-image: url('../images/icons/star.svg');
    }
}

.find-on-map {
    .input-group {
        .form-select,
        .form-control {
            border-color: $accent;
        }
        .btn {
            border-radius: 0 4px 4px 0;
            -webkit-border-radius: 0 4px 4px 0;
            -moz-border-radius: 0 4px 4px 0;
            -ms-border-radius: 0 4px 4px 0;
            -o-border-radius: 0 4px 4px 0;
        }
    }
}

.pop-cat-tabs {
    button {
        color: $accent;
        &.active {
            background-color: $accent !important;
            color: $white !important;
        }
    }
}

.auction {
    .img {
        padding-top: 55%;
        max-height: 200px !important;
    }
}

.popular-categories {
    .img {
        &:hover {
            filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.1));
        }
    }
    a {
        &:hover,
        &:focus {
            color: $accent;
        }
    }
}

.news-list {
    line-height: 20px;
    img {
        height: 272px;
        object-fit: cover;
        object-position: center;
    }
}

// *** HOME PAGE end *** //
// *** Utilities *** //
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-weight: 600;
}

.h6 {
    font-weight: normal;
}

.fs {
    &_10 {
        font-size: 0.63em;
    }
    &_12 {
        font-size: 0.75em;
    }
    &_14 {
        font-size: 0.88em;
    }
}

.fw {
    &_5 {
        font-weight: 500;
    }
    &_6 {
        font-weight: 600;
    }
}

.c {
    &-accent {
        color: $accent;
    }
    &_primary {
        color: $primary;
    }
    &_blue {
        color: $blue;
    }
    &-dark-blue {
        color: $dark-blue;
    }
    &-gray {
        color: $gray;
    }
    &_black {
        color: $black;
    }
}

a {
    color: inherit;
    text-decoration: inherit;
    &:hover {
        color: inherit;
        &.c-blue {
            color: darken($blue, 10);
        }
    }
}

.text-danger {
    color: $danger !important;
}

.text-dashed {
    border-bottom: 1px dashed $blue !important;
    &:hover {
        color: $blue;
    }
}

// ACCOUNT PAGE
.unverified_window {
    z-index: 20;
}

// BACKGROUNDS
.bg {
    &-accent {
        background-color: $accent;
    }
    &-blue {
        background-color: $light-blue;
    }
    &-gray {
        background-color: $light-gray;
    }
    &-light-gray {
        background-color: #F2F2F2;
    }
}

.shad_box {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

// MESSAGES PAGE
.dialogue-list {
    .unread {
        background-color: rgba($accent, 0.05);
        box-shadow: none;
    }
    &>a {
        border-bottom: 1px solid #E0E0E0;
    }
    .left {
        max-width: 2.5em;
        div {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
    .txt {
        max-width: 70%;
        div {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
}

// DIALOGE PAGE
.dialogue {
    line-height: 1.25em;
    &>div {
        max-width: 95%;
        white-space: pre-line;
        &:last-child {
            margin-bottom: 0 !important;
        }
    }
    .my-msg {
        align-self: flex-end;
        background-color: rgba(255, 102, 0, 0.15);
    }
}

.txt_inp {
    &:focus,
    &:focus-visible {
        outline: none;
        border: none;
    }
    &:placeholder-shown+button {
        display: none;
    }
}

h5,
.h5 {
    font-weight: normal;
}

// IMAGES
.img {
    &_sm {
        border-radius: 50%;
        width: 2em;
        height: 2em;
    }
    &_md {
        border-radius: 50%;
        width: 2.5em;
        height: 2.5em;
    }
    &_lg {
        border-radius: 50%;
        width: 3.8em;
        height: 3.8em;
    }
    &_rec {
        border-radius: 10px;
        width: 7.5em;
        height: 7.5em;
    }
    &_rec_1 {
        border-radius: 10px;
        width: 100%;
        height: 44vw;
        min-height: 210px;
    }
}

// BORDER RADIUS
.br {
    &_10 {
        border-radius: 10px;
    }
    &_30 {
        border-radius: 30px;
    }
}

button {
    white-space: nowrap;
}

// BUTTONS
.btn {
    font-weight: 500;
    white-space: nowrap;
    border-radius: 10px;
    &-lg {
        padding: 12px 32px 14px 32px;
        line-height: 1em;
    }
    &-sm {
        padding: 10px 16px;
    }
    &-accent {
        background-color: $accent;
        color: $white;
        border-radius: 10px;
        &:hover {
            background-color: lighten($accent, 5);
            color: $white;
        }
        &:active {
            background-color: darken($accent, 5)
        }
        &:focus {
            box-shadow: 0 0 0 0.25rem rgba($accent, 0.3);
        }
        &:disabled {
            background-color: grayscale($accent);
        }
    }
    &-white {
        background-color: $white;
        color: $primary;
    }
    &-outline {
        color: $primary;
        border: 1px solid $primary;
        &:disabled {
            background-color: grayscale($accent);
            color: $white;
            border-color: grayscale($accent);
        }
    }
    &_2 {
        color: $accent;
        border: 1px solid $accent;
        &:active {
            background-color: $accent;
            color: $white;
        }
        &:disabled {
            background-color: grayscale($accent);
            color: $white;
            border-color: grayscale($accent);
        }
    }
    &-danger {
        background-color: $danger;
    }
    &-close {
        opacity: 1;
        background-size: 1.5em;
        background-image: url('../images/icons/btn-close.svg');
    }
    &-fav {
        z-index: 3;
        background-image: url('../images/icons/fav.svg');
        &.active {
            background-image: url('../images/icons/fav-fill.svg');
        }
    }
    &-i {
        width: 22px;
        height: 22px;
        box-sizing: content-box;
        padding: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        border: none;
        background-color: $transparent;
    }
}

.mb {
    &_32 {
        margin-bottom: 32px;
    }
    &-40 {
        margin-bottom: 40px;
    }
}

.p {
    &-32 {
        padding: 32px;
    }
}

img {
    user-select: none;
    object-fit: cover;
    object-position: center;
}

.img {
    padding-top: 84%;
    position: relative;
    // img {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     object-fit: cover;
    //     object-position: center;
    // }
    img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        /* width: 100%; */
        /* height: 100%; */
        max-height: 100%;
        padding: 5px;
        max-width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
    }
}

.card .img img {
    width: 100%;
    height: 100%;
    padding: 0;
    object-fit: cover;
}

.img-upload {
    .img-drop {
        border-color: $blue !important;
        padding: 90px;
    }
    input[type=file] {
        opacity: 0;
        position: absolute;
    }
}

.form-select,
.form-control {
    border-color: #D2D2D2;
    &:focus {
        box-shadow: 0 0 0 0.25rem rgba($accent, 0.3);
    }
    &::placeholder {
        color: $gray;
    }
}

.border {
    &-bottom {
        border-bottom-color: #D2D2D2 !important;
    }
}

.border_acc {
    border: 1px solid $accent;
}

span.checked {
    color: $yellow;
}

input[type=date] {
    background-color: $white;
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-image: url('../images/icons/calendar.svg');
    background-position: 94% center;
    position: relative;
    &::-webkit-calendar-picker-indicator {
        opacity: 0;
    }
}

// PAGINATION
.page-item {
    margin-right: 4px;
    &:last-of-type {
        margin-right: 0;
    }
    .page-link {
        color: #797979;
        border-radius: 10px !important;
        border-color: $transparent;
        line-height: 20px;
        &:focus,
        &:hover {
            background-color: transparent;
            box-shadow: 0 0 0 0.25rem rgba($accent, 0.3);
        }
    }
    &.active {
        .page-link {
            background-color: $transparent;
            border-color: $accent;
            color: $accent;
        }
    }
    &.disabled {
        .page-link {
            border-color: $transparent;
        }
        svg path {
            stroke: $gray;
            opacity: 0.8;
        }
    }
}

.form-check {
    display: flex;
    padding: 0;
    & &-input {
        flex-shrink: 0;
        width: 24px;
        height: 24px;
        border: 1px solid #C4C4C4;
        float: none;
        margin: 0;
        margin-right: 16px;
        &:focus {
            border-color: $accent;
            box-shadow: 0 0 0 0.25rem rgba($accent, 0.4);
        }
    }
    & &-input[type=checkbox] {
        border-radius: 5px;
        &:checked {
            background-color: $accent;
            border-color: $accent;
            background-image: url('../images/icons/check.svg');
        }
    }
    & &-input[type=radio] {
        border-radius: 50%;
        background-color: $light-gray;
        &:checked {
            border-color: $accent;
            background-color: rgba($accent, 0.3);
            background-image: url('../images/icons/checked-radio.svg');
            background-size: contain;
        }
    }
}

.mobile-menu-btn,
.mobile-search-btn {
    width: 24px;
    height: 24px;
    font-size: 0px;
    background-image: url('../images/icons/mobile-menu-btn.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.mobile-search-btn {
    background-image: url('../images/icons/search-settings.svg');
}

.offcanvas {
    border: none;
    &-header {
        position: relative;
        background-color: $white;
        z-index: 20;
    }
    &-menu {
        max-width: 90%;
        .img_md {
            width: 40px;
            height: 40px;
            background-image: url(../images/img/avatar-sm.svg);
        }
    }
}

.add-param-block {
    &>fieldset:first-child {
        display: none;
    }
}

.map {
    &_sm {
        height: 50vw;
    }
    &_lg {
        height: 130vw;
        min-height: 633px;
    }
}

.address_row {
    padding-left: 20px;
    background: url('../images/icons/address.svg') no-repeat left top;
}

.link_row {
    padding-left: 22px;
    background: url('../images/icons/link.svg') no-repeat left top;
}

.btn_del span {
    display: inline-block;
    color: $primary;
    padding: 6px 0 6px 32px;
    background: url('../images/icons/trash.svg') no-repeat left center;
}

// MAP
.map-container {
    height: 300px;
    .ymaps-2-1-78-controls__control_toolbar,
    .ymaps-2-1-78-map-copyrights-promo,
    .ymaps-2-1-78-controls__control {
        display: none !important;
    }
}

.map-container-lg {
    height: 690px;
}

// FORMS ELEMENTS
.pass_btn {
    right: 10px !important;
    &[data-state="invisible"] {
        background: url('../images/icons/hide-pass.svg') no-repeat center;
    }
    &[data-state="visible"] {
        background: url('../images/icons/show-pass.svg') no-repeat center;
    }
}

.gallery-top {
    height: 512px;
    .swiper-slide {
        border-radius: 10px;
        display: flex;
    }
    // img {
    //     margin: auto;
    //     max-height: 100%;
    //     max-width: 100%;
    //     object-fit: contain;
    //     object-position: center;
    // }
    img {
        border-radius: 10px;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.swiper-pagination {
    bottom: 6px;
}

.swiper-button {
    &-next,
    &-prev {
        transition: background-color 0.3s ease;
        &:hover {
            background-color: rgba($black, 0.4);
            svg {
                path {
                    stroke: $white;
                }
            }
        }
        &::after {
            content: '';
        }
    }
    &-next {
        border-radius: 0 10px 10px 0;
    }
    &-prev {
        border-radius: 10px 0 0 10px;
    }
}

.gallery-thumbs {
    height: 96px;
    .swiper-slide {
        display: flex;
        border-radius: 10px;
        overflow: hidden;
        &.swiper-slide-thumb-active {
            border: 1px solid $accent;
        }
    }
    img {
        margin: auto;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.overflow-x-scroll {
    &::-webkit-scrollbar {
        display: none;
    }
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.overflow-hidden {
    overflow: hidden;
}

.user-prof-img {
    width: 213px;
    height: 213px;
}

.announcements-img {
    width: 185px;
    height: 136px;
}

.table-striped>tbody {
    background-color: rgba($accent, 0.24);
}

.table> :not(caption)>*>* {
    padding: 7px 16px;
}

.table-striped>tbody th {
    font-weight: normal;
    color: $primary;
}

.table-striped>tbody td {
    text-align: right;
    font-weight: 500;
    color: $black;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #F0F0F0;
}

// MEDIA QUERIES start
@media screen and (max-width: 767.98px) {
    .btn-lg {
        font-size: 16px;
    }
    // .page-item {
    //     .page-link {
    //         font-size: 1rem;
    //     }
    // }
    .map-container-lg {
        height: 633px;
    }
    .news-list {
        .news-group {
            width: 100%;
            overflow-x: scroll;
            >* {
                width: 45%;
            }
        }
        img {
            height: 38vw;
        }
    }
}

@media (max-width: 575.98px) {
    .find-on-map {
        .input-group {
            margin-bottom: 0;
        }
    }
    // PAGINATION
    .page-item {
        margin-right: 1px;
    }
    .gallery-top {
        height: 170px;
    }
    .user-prof-img {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 991.98px) {
    .map-container {
        height: 200px;
        .map-circle {
            width: 200px;
            height: 200px;
        }
    }
    .my-tabs {
        button {
            font-size: 16px;
        }
    }
    .auction {
        img {
            opacity: 0.2;
            max-height: 100%;
            max-width: 100%;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            position: absolute;
        }
        .auction-text {
            z-index: 3;
        }
    }
}


/************
CUSTOM SELECT
************/

input[type=text]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type=text]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.custom-select {
    position: relative;
    width: 100%;
    border: 1px solid #D2D2D2;
}

.custom-select button {
    width: 100%;
    border-radius: 4px;
    border: 1px solid var(--lightengray);
    text-align: left;
    padding: .7em 1.5em .7em 1em;
    background: url(../images/icons/label_btn.svg) no-repeat;
    background-position: calc(100% - .5em) 55%;
    background-size: 1.25em 1.25em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cs-options {
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    z-index: 100;
    width: 100%;
    display: none;
    border: 1px solid var(--lightengray);
    background-color: var(--coolwhite);
    max-height: 300px;
    overflow-y: scroll;
}

.cs-options::-webkit-scrollbar {
    width: 0;
}

.cs-options.opened {
    display: block;
}


/* checkbox for select customization */

.cs-options .radio:not(:last-child) {
    position: relative;
    border-bottom: 1px solid var(--lightengray);
}

.cs-options .radio {
    position: relative;
}

.cs-options .radio label {
    position: relative;
    z-index: 1;
    padding: .7em 1em;
    transition: .2s;
    line-height: 1.2em;
    display: block;
    width: 100%;
    background-color: $white;
    border-bottom: 1px solid #D2D2D2;
    background: $white url('../images/icons/label.svg') no-repeat center right;
}

.cs-options .radio input[type="checkbox"] {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    box-shadow: none;
    border: none;
    outline: none;
}

.cs-options .radio input[type="checkbox"]:checked~label {
    background-color: $accent;
    color: $white;
    background: $accent url('../images/icons/label_check.svg') no-repeat center right;
}