@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
html {
  overflow-x: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #3C3939;
  overflow-x: hidden;
}

header,
footer {
  z-index: 30;
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  background-color: white;
}

header,
footer,
.card,
.btn_pills button {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

header {
  top: 0;
  max-height: 51px;
}

footer {
  bottom: 0;
  max-height: 58px;
}

footer svg {
  width: 24px;
  height: 24px;
}

footer svg path {
  stroke: #808080;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

footer svg.active path {
  stroke: #FF6600;
}

footer .rounded-circle {
  width: 10px;
  height: 10px;
}

main {
  margin: 50px 0 58px 0;
}

.z-index-10 {
  z-index: 10;
}

.zi_20 {
  z-index: 20;
}

.dropdown-menu input:checked + label {
  color: #FF6600;
}

.card {
  height: 100%;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: 4px;
  max-height: 40px;
  overflow: hidden;
  line-height: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.rated {
  line-height: 1em;
}

.add_rate input {
  width: 0;
  height: 0;
  opacity: 0;
}

.add_rate input:checked ~ label {
  background-image: url("../images/icons/star-fill.svg");
}

.add_rate label {
  margin-right: 8px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #FFF9DC;
  background-image: url("../images/icons/star.svg");
}

.find-on-map .input-group .form-select,
.find-on-map .input-group .form-control {
  border-color: #FF6600;
}

.find-on-map .input-group .btn {
  border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
}

.btn_pills button {
  border-radius: 30px;
  color: #FF6600;
  background-color: white;
  padding: 4px 16px;
  margin-right: 8px;
  border: none;
}

.btn_pills button.active {
  background-color: #FF6600 !important;
  color: white !important;
}

.auction {
  background: url("../images/img/auction-bg.png") no-repeat center;
  background-size: contain;
}

.popular-categories .img:hover {
  -webkit-filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.1));
}

.popular-categories a:hover, .popular-categories a:focus {
  color: #FF6600;
}

.news-list {
  line-height: 20px;
}

.news-list img {
  height: 272px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 600;
}

.h6 {
  font-weight: normal;
}

.fs_10 {
  font-size: 0.63em;
}

.fs_12 {
  font-size: 0.75em;
}

.fs_14 {
  font-size: 0.88em;
}

.fw_5 {
  font-weight: 500;
}

.fw_6 {
  font-weight: 600;
}

.c-accent {
  color: #FF6600;
}

.c_primary {
  color: #3C3939;
}

.c_blue {
  color: #4DA9FF;
}

.c-dark-blue {
  color: #03588C;
}

.c-gray {
  color: #999999;
}

.c_black {
  color: black;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: inherit;
}

a:hover.c-blue {
  color: #1a90ff;
}

.text-danger {
  color: #EB1919 !important;
}

.text-dashed {
  border-bottom: 1px dashed #4DA9FF !important;
}

.text-dashed:hover {
  color: #4DA9FF;
}

.unverified_window {
  z-index: 20;
}

.bg-accent {
  background-color: #FF6600;
}

.bg-blue {
  background-color: #F1F8FF;
}

.bg-gray {
  background-color: #F6F6F6;
}

.bg-light-gray {
  background-color: #F2F2F2;
}

.shad_box {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.dialogue-list .unread {
  background-color: rgba(255, 102, 0, 0.05);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.dialogue-list > a {
  border-bottom: 1px solid #E0E0E0;
}

.dialogue-list .left {
  max-width: 2.5em;
}

.dialogue-list .left div {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.dialogue-list .txt {
  max-width: 70%;
}

.dialogue-list .txt div {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.dialogue {
  line-height: 1.25em;
}

.dialogue > div {
  max-width: 95%;
  white-space: pre-line;
}

.dialogue > div:last-child {
  margin-bottom: 0 !important;
}

.dialogue .my-msg {
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: rgba(255, 102, 0, 0.15);
}

.txt_inp:focus, .txt_inp:focus-visible {
  outline: none;
  border: none;
}

.txt_inp:placeholder-shown + button {
  display: none;
}

h5,
.h5 {
  font-weight: normal;
}

.img_sm {
  border-radius: 50%;
  width: 2em;
  height: 2em;
}

.img_md {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
}

.img_lg {
  border-radius: 50%;
  width: 3.8em;
  height: 3.8em;
}

.img_rec {
  border-radius: 10px;
  width: 7.5em;
  height: 7.5em;
}

.img_rec_1 {
  border-radius: 10px;
  width: 100%;
  height: 44vw;
  min-height: 210px;
}

.br_10 {
  border-radius: 10px;
}

.br_30 {
  border-radius: 30px;
}

button {
  white-space: nowrap;
}

.btn {
  font-weight: 500;
  white-space: nowrap;
  border-radius: 10px;
}

.btn:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(255, 102, 0, 0.25);
          box-shadow: 0 0 0 0.25rem rgba(255, 102, 0, 0.25);
}

.btn-sm {
  padding: 10px 16px;
}

.btn_lg {
  padding: 11px 32px 11px 32px;
  line-height: 1em;
}

.btn_1 {
  background-color: #FF6600;
  color: white;
  border-radius: 10px;
}

.btn_1:hover {
  background-color: #ff751a;
  color: white;
}

.btn_1:active {
  background-color: #e65c00;
}

.btn_1:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(255, 102, 0, 0.3);
          box-shadow: 0 0 0 0.25rem rgba(255, 102, 0, 0.3);
}

.btn_1:disabled {
  background-color: gray;
}

.btn-white {
  background-color: white;
  color: #3C3939;
}

.btn-outline {
  color: #3C3939;
  border: 1px solid #3C3939;
}

.btn-outline:disabled {
  background-color: gray;
  color: white;
  border-color: gray;
}

.btn_2 {
  color: #FF6600;
  border: 1px solid #FF6600;
}

.btn_2:hover, .btn_2:focus, .btn_2:active {
  background-color: #FF6600;
  color: white;
}

.btn_2:disabled {
  background-color: gray;
  color: white;
  border-color: gray;
}

.btn-danger {
  background-color: #EB1919;
}

.btn-close {
  opacity: 1;
  background-size: 1.5em;
  background-image: url("../images/icons/btn-close.svg");
}

.btn_fav {
  position: absolute;
  right: 12px;
  top: 12px;
  width: 20px;
  height: 20px;
  z-index: 3;
  background-image: url("../images/icons/fav.svg");
}

.btn_fav.active {
  background-image: url("../images/icons/fav-fill.svg");
}

.btn-i {
  width: 22px;
  height: 22px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  background-color: transparent;
}

.mb_32 {
  margin-bottom: 32px;
}

.mb-40 {
  margin-bottom: 40px;
}

.p-32 {
  padding: 32px;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.img {
  padding-top: 85%;
  position: relative;
}

.img img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  /* width: 100%; */
  /* height: 100%; */
  max-height: 100%;
  padding: 5px;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.card .img img {
  width: 100%;
  height: 100%;
  padding: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-upload .img-drop {
  border-color: #4DA9FF !important;
  padding: 90px;
}

.img-upload input[type=file] {
  opacity: 0;
  position: absolute;
}

.form-select,
.form-control {
  border-color: #D2D2D2;
}

.form-select:focus,
.form-control:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(255, 102, 0, 0.3);
          box-shadow: 0 0 0 0.25rem rgba(255, 102, 0, 0.3);
}

.form-select::-webkit-input-placeholder,
.form-control::-webkit-input-placeholder {
  color: #999999;
}

.form-select:-ms-input-placeholder,
.form-control:-ms-input-placeholder {
  color: #999999;
}

.form-select::-ms-input-placeholder,
.form-control::-ms-input-placeholder {
  color: #999999;
}

.form-select::placeholder,
.form-control::placeholder {
  color: #999999;
}

.border-bottom {
  border-bottom-color: #D2D2D2 !important;
}

.border_acc {
  border: 1px solid #FF6600;
}

span.checked {
  color: #FFD600;
}

input[type=date] {
  background-color: white;
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-image: url("../images/icons/calendar.svg");
  background-position: 94% center;
  position: relative;
}

input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.page-item {
  margin-right: 4px;
}

.page-item:last-of-type {
  margin-right: 0;
}

.page-item .page-link {
  color: #797979;
  border-radius: 10px !important;
  border-color: transparent;
  line-height: 20px;
}

.page-item .page-link:focus, .page-item .page-link:hover {
  background-color: transparent;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(255, 102, 0, 0.3);
          box-shadow: 0 0 0 0.25rem rgba(255, 102, 0, 0.3);
}

.page-item.active .page-link {
  background-color: transparent;
  border-color: #FF6600;
  color: #FF6600;
}

.page-item.disabled .page-link {
  border-color: transparent;
}

.page-item.disabled svg path {
  stroke: #999999;
  opacity: 0.8;
}

.form-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.form-check .form-check-input {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 24px;
  height: 24px;
  border: 1px solid #C4C4C4;
  float: none;
  margin: 0;
  margin-right: 16px;
}

.form-check .form-check-input:focus {
  border-color: #FF6600;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(255, 102, 0, 0.4);
          box-shadow: 0 0 0 0.25rem rgba(255, 102, 0, 0.4);
}

.form-check .form-check-input[type=checkbox] {
  border-radius: 5px;
}

.form-check .form-check-input[type=checkbox]:checked {
  background-color: #FF6600;
  border-color: #FF6600;
  background-image: url("../images/icons/check.svg");
}

.form-check .form-check-input[type=radio] {
  border-radius: 50%;
  background-color: #F6F6F6;
}

.form-check .form-check-input[type=radio]:checked {
  border-color: #FF6600;
  background-color: rgba(255, 102, 0, 0.3);
  background-image: url("../images/icons/checked-radio.svg");
  background-size: contain;
}

.mobile-menu-btn,
.mobile-search-btn {
  width: 24px;
  height: 24px;
  font-size: 0px;
  background-image: url("../images/icons/mobile-menu-btn.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.mobile-search-btn {
  background-image: url("../images/icons/search-settings.svg");
}

.offcanvas {
  border: none;
}

.offcanvas-header {
  position: relative;
  background-color: white;
  z-index: 20;
}

.offcanvas-menu {
  max-width: 90%;
}

.offcanvas-menu .img_md {
  width: 40px;
  height: 40px;
  background-image: url(../images/img/avatar-sm.svg);
}

.add-param-block > fieldset:first-child {
  display: none;
}

.map_sm {
  height: 50vw;
}

.map_lg {
  height: 75vh;
  max-height: 633px;
}

.address_row {
  padding-left: 20px;
  background: url("../images/icons/address.svg") no-repeat left top;
}

.link_row {
  padding-left: 22px;
  background: url("../images/icons/link.svg") no-repeat left top;
}

.btn_del span {
  display: inline-block;
  color: #3C3939;
  padding: 6px 0 6px 32px;
  background: url("../images/icons/trash.svg") no-repeat left center;
}

.map-container {
  height: 300px;
}

.map-container .ymaps-2-1-78-controls__control_toolbar,
.map-container .ymaps-2-1-78-map-copyrights-promo,
.map-container .ymaps-2-1-78-controls__control {
  display: none !important;
}

.map-container-lg {
  height: 690px;
}

.pass_btn {
  right: 10px !important;
}

.pass_btn[data-state="invisible"] {
  background: url("../images/icons/hide-pass.svg") no-repeat center;
}

.pass_btn[data-state="visible"] {
  background: url("../images/icons/show-pass.svg") no-repeat center;
}

.gallery-top {
  height: 512px;
}

.gallery-top .swiper-slide {
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery-top img {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.swiper-pagination {
  bottom: 6px;
}

.swiper-button-next, .swiper-button-prev {
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.swiper-button-next:hover svg path, .swiper-button-prev:hover svg path {
  stroke: white;
}

.swiper-button-next::after, .swiper-button-prev::after {
  content: '';
}

.swiper-button-next {
  border-radius: 0 10px 10px 0;
}

.swiper-button-prev {
  border-radius: 10px 0 0 10px;
}

.gallery-thumbs {
  height: 96px;
}

.gallery-thumbs .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}

.gallery-thumbs .swiper-slide.swiper-slide-thumb-active {
  border: 1px solid #FF6600;
}

.gallery-thumbs img {
  margin: auto;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.overflow-x-scroll {
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.overflow-x-scroll::-webkit-scrollbar {
  display: none;
}

.overflow-hidden {
  overflow: hidden;
}

.user-prof-img {
  width: 213px;
  height: 213px;
}

.announcements-img {
  width: 185px;
  height: 136px;
}

.table-striped > tbody {
  background-color: rgba(255, 102, 0, 0.24);
}

.table > :not(caption) > * > * {
  padding: 7px 16px;
}

.table-striped > tbody th {
  font-weight: normal;
  color: #3C3939;
}

.table-striped > tbody td {
  text-align: right;
  font-weight: 500;
  color: black;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #F0F0F0;
}

@media screen and (max-width: 767.98px) {
  .btn_lg {
    font-size: 16px;
  }
  .map-container-lg {
    height: 633px;
  }
  .news-list .news-group {
    width: 100%;
    overflow-x: scroll;
  }
  .news-list .news-group > * {
    width: 45%;
  }
  .news-list img {
    height: 38vw;
  }
}

@media (max-width: 575.98px) {
  .find-on-map .input-group {
    margin-bottom: 0;
  }
  .page-item {
    margin-right: 1px;
  }
  .gallery-top {
    height: 170px;
  }
  .user-prof-img {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 991.98px) {
  .map-container {
    height: 200px;
  }
  .map-container .map-circle {
    width: 200px;
    height: 200px;
  }
  .my-tabs button {
    font-size: 16px;
  }
}

/************
CUSTOM SELECT
************/
input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.custom-select {
  position: relative;
  width: 100%;
  border: 1px solid #D2D2D2;
}

.custom-select button {
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--lightengray);
  text-align: left;
  padding: .7em 1.5em .7em 1em;
  background: url(../images/icons/label_btn.svg) no-repeat;
  background-position: calc(100% - .5em) 55%;
  background-size: 1.25em 1.25em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cs-options {
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  z-index: 100;
  width: 100%;
  display: none;
  border: 1px solid var(--lightengray);
  background-color: var(--coolwhite);
  max-height: 300px;
  overflow-y: scroll;
}

.cs-options::-webkit-scrollbar {
  width: 0;
}

.cs-options.opened {
  display: block;
}

/* checkbox for select customization */
.cs-options .radio:not(:last-child) {
  position: relative;
  border-bottom: 1px solid var(--lightengray);
}

.cs-options .radio {
  position: relative;
}

.cs-options .radio label {
  position: relative;
  z-index: 1;
  padding: .7em 1em;
  -webkit-transition: .2s;
  transition: .2s;
  line-height: 1.2em;
  display: block;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #D2D2D2;
  background: white url("../images/icons/label.svg") no-repeat center right;
}

.cs-options .radio input[type="checkbox"] {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  outline: none;
}

.cs-options .radio input[type="checkbox"]:checked ~ label {
  background-color: #FF6600;
  color: white;
  background: #FF6600 url("../images/icons/label_check.svg") no-repeat center right;
}
/*# sourceMappingURL=style.css.map */